* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100vw;
}

header {
    height: 100px;
    margin: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/-tup-lc2-cotizador-app/img/fondo_header.jpg);
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 4vw;
}

.section-main {
    display: flex;
    width: 100vw;
}

section {
    background-color: rgb(0, 0, 0);
    flex: 0 0 20%;
    margin: 10px;
    border-radius: 24px;
    
}

nav {
    display: flex;
    margin: 20px;
    text-align: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav ul li {
    background-color: rgb(255, 215, 0);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li:hover {
    background-color: rgb(205, 205, 223);
}

.recomendaciones {
    display: flex;
    margin-top: 110px;
    padding: 20px;
}

.img-comentario {
    flex: 0 0 auto;
    margin-right: 15px;
}

.img-comentario img {
    border-radius: 50%;
    width: 80px;
}

.comentario {
    flex: 1;
    color:aliceblue;
    font-size: 12px;
}

main {
    flex: 1;
}

.migas {
    text-align: end;
    margin-right: 40px;
}

.contenido-principal {
    background-color: rgb(237, 245, 239);
    height: 450px;
    margin: 10px;
    border-radius: 24px;
}

.contenido-principal h2 {
    text-align: center;
    padding: 10px 10px;
}

.contenedor_monedas {
    display: flex;
    padding-left: 15px;
}

.monedas {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 147, 5);
    border-radius: 25px;
}

.monedas label {
    margin: 5px;
}

.monedas select {
    height: 45px;
    margin: 5px;
}

.boton_busqueda {
    height: 45px;
}


footer {
    background-color: #5d5d5d;
    color: rgb(0, 0, 0);
    margin: 10px;
    border-radius: 25px;
}

footer a {
    color: black;
}

.footer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
    padding: 20px;
}

.footer-cards>div:last-child {
    text-align: right;
    padding-top: 50px;
}

.contenedor-f>p {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}